* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: url('../media/img/Pokédex_DPP.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}